<!-- Footer -->
<section id="footer">
	<ul class="icons">
		<li><a href="https://www.twitter.com/sitapati" class="fa-twitter"><span class="label">Twitter</span></a></li>
		<li><a href="https://www.facebook.com/sitapati" class="fa-facebook"><span class="label">Facebook</span></a></li>
		<li><a href="https://www.instagram.com/justjoshwulf" class="fa-instagram"><span class="label">Instagram</span></a></li>
		<li><a href="#" class="fa-github"><span class="label">RSS</span></a></li>
		<li><a href="mailto:josh(at)magikcraft.io" class="fa-envelope"><span class="label">Email</span></a></li>
	</ul>
	<p class="copyright">&copy; 2018 Josh Wulf. </p>
</section>